.badgeinfotext{
    /* margin-top:0.2rem; */
}

.bisiyahyazi{
    color:black;
}

.bigriyazi{
    color:rgb(141, 140, 140);
}

.bipunto14{
    font-size:14px; 
}

.bipunto12{
    font-size:12px; 
}

.biboldyazi{
    font-weight: bold;
}

.binormalyazi{
    font-weight: normal;
}

.bilightyazi{
    font-weight:normal;
}




