

#storiesCover{
    width:100%;
    /* width:385px; */
    border: 1px solid rgb(223, 222, 222);
    overflow-x: hidden;
    border-radius: 10px;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: white;

}

.scrollcontainer{
    width:auto;
    /* width:300px; */
    /* width:fit-content; */
    padding:0.5rem;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    /* gap: 0rem; */
    /* float:left; */
    /* overflow-x: hidden; */
    border-radius: 5px;

}

.leftBtn{
    
    position: absolute;
    left:1rem;
    top: 2rem;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    


}

.rightBtn{
    position: absolute;
    right: 1rem;
    top: 2rem;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    


}


